@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.rhap_button-clear,
.rhap_main-controls-button,
.rhap_play-pause-button,
.rhap_progress-container,
.rhap_time,
.rhap_total-time,
.rhap_progress-bar,
.rhap_progress-bar-show-download {
  color: rgb(7 89 133) !important;
}

.rhap_progress-filled,
.rhap_progress-indicator,
.rhap_download-progress,
.rhap_volume-bar,
.rhap_volume-indicator {
  background-color: rgb(7 89 133) !important;
  box-shadow: none !important;
}